:root {
    --screen: #d07c15;
    --screenHover: #b06912;
    --led: "DotMatri";
}

@font-face {
    font-family: "DotMatri";
    src: url("../fonts/dotmatri.woff");
}

body {
    background: black;
    color: var(--screen);
    margin: 0;
}

#main {
    padding: 10px;
}

#title {
    display: inline-block;
    font-weight: bold;
    font-size: 35px;
    font-family: Arial;
    margin-bottom: 10px;
}

#title-block {
    border-bottom: 1px solid var(--screen);
    width: 100%;
}

#trips {
    float: left;
    font-size: 20px;
    font-family: var(--led);
    text-align: left;
    width: 100%;
}

td {
    width: 150px;
    letter-spacing: 1px;
    font-size: 23px;
    text-transform: uppercase;
    background: #1a1a1a;
    height: 45px;
    padding: 2px;
}

th {
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    font-weight: 100;
}

.carrier {
    width: 100px;
    -webkit-user-drag: none;
    -moz-user-drag: none;
}

#more {
    text-align: center;
    padding: 10px;
    width: 100%;
}

button {
    background: var(--screen);
    padding: 15px;
    color: white;
    font-family: var(--led);
    text-transform: uppercase;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    width: 300px;
    display: inline-block;
    margin: 10px;
    user-select: none;
}

button:hover {
    cursor: pointer;
    background: var(--screenHover);
}

button.button-small {
    font-size: 15px;
    width: 200px;
}

#toggable td {
    background: #2a2a2a;
}

#toggable td:hover {
    cursor: pointer;
}


/* Map */

#map {
    height: 100%;
    width: 100%;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.leaflet-popup-content-wrapper {
    background: black;
    color: var(--screen);
    font-family: var(--led);
    text-transform: uppercase;
    font-size: 15px;
}

.leaflet-popup-tip-container {
    display: none;
}

#modal {
    top: 0;
    z-index: 999;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
}

#modal-body {
    background: #000000;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: inherit;
    font-family: "DotMatri";
    color: var(--screen);
    text-transform: uppercase;
    width: 500px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
}

/* Stats */

#body {
    height: 100%;
    font-family: "DotMatri";
    color: var(--screen);
    text-transform: uppercase;
    text-align: center;
}

#body > div {
    margin: auto;
}

.barchart {
    width: 40%;
    height: 100% !important;
    margin-bottom: 100px !important;
}

.piechart {
    width: 50%;
}