:root {
    --screen: #d07c15;
    --screenHover: #b06912;
    --led: "DotMatri";
}

@font-face {
    font-family: "DotMatri";
    src: url("dotmatri.woff");
}

body, html {
    margin: 0;
}

#map {
    height: 100%;
    width: 100%;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}

.leaflet-popup-content-wrapper {
    background: black;
    color: var(--screen);
    font-family: var(--led);
    text-transform: uppercase;
    font-size: 15px;
}

.leaflet-popup-tip-container {
    display: none;
}