:root {
    --screen: #d07c15;
    --screenHover: #b06912;
    --led: "DotMatri";
}

@font-face {
    font-family: "DotMatri";
    src: url("dotmatri.woff");
}

body {
    background: black;
    color: var(--screen);
}

#main {
    padding: 10px;
}

#title {
    display: block;
    font-weight: bold;
    font-size: 35px;
    border-bottom: 1px solid var(--screen);
    font-family: Arial;
    margin-bottom: 10px;
}

#trips {
    float: left;
    font-size: 20px;
    font-family: var(--led);
    text-align: left;
    width: 100%;
}

td {
    width: 150px;
    letter-spacing: 1px;
    font-size: 23px;
    text-transform: uppercase;
    background: #1a1a1a;
    height: 45px;
    padding: 2px;
}

th {
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    font-weight: 100;
}

.carrier {
    width: 100px;
    -webkit-user-drag: none;
    -moz-user-drag: none;
}

#more {
    text-align: center;
    padding: 10px;
    transform: translateY(25px); /* non mi dite niente */
    width: 100%;
}

button {
    background: var(--screen);
    padding: 15px;
    color: white;
    font-family: var(--led);
    text-transform: uppercase;
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    width: 300px;
    display: inline-block;
    margin: 10px;
}

button:hover {
    cursor: pointer;
    background: var(--screenHover);
}